# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
.vscode/
*.iml
*.swp

# macOS
.DS_Store
*.plist

# Android
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/
*.jks
*.keystore

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/

# Misc
*.log
.env
pubspec.lock
